* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,
body {
	min-height: 100%;
	font: 16px Helmet, Freesans, sans-serif;
	cursor: default;
}

[contenteditable=true] {
	cursor: text;
}

[contenteditable=true]:focus {
	outline: 4px solid #ffffaa;
	background: #ffffaa;
}

:-webkit-full-screen body {
	padding-top: 1.2em;
	font-size: 22px;
	overflow: hidden;
	max-height: 100%;
}

a {color: #03f;}
a:hover {color: #69f;}

.wrapper {
	counter-reset: menu-items;
}

header {
	width: 100%;
	margin: 0 0 .5em;
	padding: .5em .7em;
	background: #eee;
	font-size: 1.5em;
}

header h1 {
	font-size: 3vw;
}

:-webkit-full-screen header {
	display: none;
}

nav {
	margin: 1em 3em;
	font-size: 1em;
}

header nav {
	margin: .5em 0 0;
	font-size: .5em;
}

nav li {
	display: block;
	list-style-type: none;
	line-height: 150%;
}

header nav li {
	display: inline-block;
}

[itemprop~="menu-section"] {
	width: 100%;
	margin-bottom: 2em;
	padding: 0 1em;
}

[itemprop~="menu-section"] h1 {
	text-transform: uppercase;
	padding: 0 .2em .4em 0;
	border-bottom: 1px solid #ccc;
	font-size: 1.4vw;
}

[itemprop~="menu-section"] h1 + p {
	margin: .6em 0 1em;
	padding: 0 .2em .2em 0;
	font-size: .8em;
}

[itemprop~="menu-section"] ol {
	position: relative;
	width: 100%;
}

[itemprop~="menu-section"] ol + h1 {
	margin-top: 2em;
}

[itemprop~="menu-section"] ol li {
	padding: .75em;
	list-style-type: none;
}

[itemprop~="menu-section"] ol .add-item {
	position: absolute;
	z-index: 2;
	top: calc(100% + 6px);
	left: 0;
	display: none;
	padding: 2px 6px;
	background: #00ae18;
	color: #fff;
	font-size: 11px;
	border-radius: 12px;
	cursor: pointer;
}

body:not(.fullscreen-true) [itemprop~="menu-section"] ol:hover .add-item {
	display: block;
}

body:not(.fullscreen-true) [itemprop~="menu-section"] ol:hover:after {
	content: '';
	position: absolute;
	top: 100%;
	display: block;
	width: 100%;
	height: 30px;
}

[itemprop~="menu-section"] ol .add-item:before {
	content: "+ add item"
}

[itemprop~="menu-section"] ol li:nth-child(odd) {
	background: #eee;
}
	
[itemprop~="menu-section"] ol li .empty:not(:focus),
body:not(.fullscreen-true) [itemprop~="menu-section"] ol li .left-empty:not(:focus) {
	color: #999;
}

[itemprop~="menu-section"] ol li .empty:not(:focus):after,
body:not(.fullscreen-true) [itemprop~="menu-section"] ol li:hover .left-empty:not(:focus):after {
	content: attr(data-placeholder);
}
	
[itemprop~="menu-section"] ol li dt {
	display: inline-block;
	vertical-align: top;
	width: 90%;
}

[itemprop~="menu-section"] ol li dd[itemprop="item-price"] {
	display: inline-block;
	vertical-align: top;
	width: 10%;
	text-align: right;
	white-space: nowrap;
}

[itemprop~="menu-section"] ol li dd[itemprop="item-price"].sale {
	background: rgba(255,255,0,1);
	outline: .3em solid rgba(255,255,0,1);
}

[itemprop~="menu-section"] ol li dd[itemprop="item-price"].sale:before {
	content: attr(original-price);
	display: block;
	text-decoration: line-through;
	opacity: .4;
}

[itemprop~="menu-section"] ol li dd[itemprop="item-description"] {
	display: block;
	margin-top: .3em;
	font-size: 90%;
	line-height: 100%;
	font-style: italic;
}
	
[itemprop~="menu-section"] ol li dt:before {
	counter-increment: menu-items;
	content: counter(menu-items) ". ";
}

.fullscreenSwitch {
	display: none;
}

@media screen and (max-width: 460px) {
	
	header {
		padding-bottom: 0;
	}
	
	header nav {
		margin-top: -1em;
		text-align: right;
		cursor: pointer;
	}

	header nav:before {
		content: "";
		position: relative;
		top: -1em;
		display: inline-block;
		height: .2em;
		width: 1.5em;
		margin-right: -1em;
		border-top: 8px double #222;
		border-bottom: 3px solid #222;
	}

	header nav ol {
		display: none;
		margin: 1em -1.4em 0 -2.7em;
		text-indent: 2.7em;
		overflow: hidden;
		text-align: left;
	}

	header nav li {
		display: block;
	}

	header nav li a {
		display: block;
		list-style-type: none;
		padding: .4em;
		text-decoration: none;
	}
	
	header nav li:nth-child(odd) a {
		background: #fff;
	}

}
	
@media screen and (min-width: 960px) {

	body {
		background: url(../img/tomato.jpg) bottom right no-repeat;
	}

	.wrapper {
		width: 90%;
		margin: 1em auto;
	}
	
	header {
		margin: 0 0 .5em;
		padding: .5em;
		font-size: 2em;
	}
	
	nav {
		display: none;
	}
	
	[itemprop~="menu-section"] {
		display: inline-block;
		width: 25%;
		vertical-align: top;
		margin-bottom: 0;
		padding-right: 0;
	}
	

	[itemprop~="menu-section"] h1 + ol {
		margin-top: .6em;
	}
	
	[itemprop~="menu-section"] ol li {
		display: block;
		position: relative;
		margin-bottom: 1em;
		padding: 0 0 .2em 0;
		font-size: .9em;
	}

	[itemprop~="menu-section"] ol li:nth-child(odd) {
		background: transparent;
	}
	
	[itemprop~="menu-section"] ol li dl {
		line-height: 110%;
		padding: 0;
	}
	
	[itemprop~="menu-section"] ol li dt {
		padding-right: 3em;
		font-weight: bold;
	}
	
	[itemprop~="menu-section"] ol li dd[itemprop="item-description"] {
		font-size: 90%;
	}
	
	[itemprop~="menu-section"] ol li dd[itemprop="item-price"] {
		display: block;
		position: absolute;
		top: 0;
		right: .5em;
		width: auto;
		min-width: 1em;
		font-weight: bold;
	}
	
	.fullscreenSwitch {
		display: block;
		position: absolute;
		bottom: 1em;
		left: 1em;
		width: 1.4em;
		height: 1.4em;
		background: url(../img/icon_15353.svg) no-repeat;
		background-size: cover;
		transition: all .2s ease-in-out;
		opacity: .1;
		cursor: pointer;
	}
	
	.fullscreenSwitch:hover {
		opacity: .6;
		transform: scale(1.1);
	}
	
	body.editing .fullscreenSwitch,
	body.fullscreen-true .fullscreenSwitch {
		display: none;
	}

}

@media screen and (min-width: 1500px) {
	
	body {
		font-size: 22px;
	}
	
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}